@model CimatecRecords.Models.Compositor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compositor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Responsavel.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsavel.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pk_Compositor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
